<div>
  <label for="username">Hypem Username</label>
  <input type="text" id="username" placeholder="username">
</div>
<button id="submit-username">Submit</button>


<div id="data-wrapper">
  <ul id="data-list"></ul>
</div>