<div
  ng-app="hypem"
  ng-controller="HypemController" ng-init="init(<%= @seed %>)">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!-- <a class="navbar-brand" href="#"><audio src='' data-volume="50%" type="audio/mpeg" id="audio-player" preload="auto"></a> -->
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form" ng-submit="setList(queryText)">
          <input type="text" ng-model="queryText" class="form-control" id="username">
          <input type="submit" class="hidden">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
          <li></li>
          <li ng-repeat="(listName, values) in trackLists" ng-class="{active: currentList == listName, disabled: loadingList == listName}" ng-click="setList(listName)">
            <a href ui-sref="hypem.list">{{values['fakeName']}} 
              <!-- <span class="badge" ng-show="values['fetched'] == true">{{values['tracks'].length}}</span>  -->
              <span class="mini-text" ng-show="values['username'] == 'hypemmain' || values['showUsername'] == true">({{values['username']}})</span>
              <i ng-show="loadingList == listName" class="fa fa-cog fa-spin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
        
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i></button>
        </p>

        <ul>
          <div ng-repeat="track in currentTracks">
            <div class="col-md-8">
              <h3 class="lead">{{track.song}}</h3>
              <h4 class="lead">{{track.artist}}</h4>
            </div>
            <div class="col-md-4">
              <div class="pull-right">
                <span>
                  <a href ng-click="setTrackUrl(track)"><i class="fa fa-play" tooltip="Play"></i></a>
                  <a target='_blank' ng-show='track.download_url.length > 0' href='{{track.download_url}}' alt='download' download='{{track.artist}} - {{track.song}}'>
                    <i class="fa fa-download" ng-show='track.download_url.length > 0' tooltip="Download"></i>
                  </a>
                  <a href ng-show='track.download_url.length == 0' tooltip="Unavailable">
                    <i class="fa fa-ban text-center"></i>
                  </a>
                  <a href ng-click="addToPlaylist(track)" tooltip="Add to Playlist"><i class="fa fa-list"></i></a>
                </span>
              </div>
            </div>
          </div>
          <div colspan="5" ng-show="currentTracks.length == 0">Zero Tracks Found! User doesn't have any or we hit an error. ¯\_(ツ)_/¯</div>
        </ul>
      </div>
    </div>
</div>



