<div class="jumbotron">
  <h1>Soooo...!</h1>
  <p>
    If you're seeing this because you tried to search for a user and didn't see every track you thought you'd see? If so, let us explain.
    In an attempt to not do too much reading, we don't go to HypeMachine to find a user's favorites every time.
    Instead, we do an update every night. If that's not fast enough for you, select the 'Force Check' option in the options menu.
  </p>
  <p class="pull-right"><a class="btn btn-primary btn-lg" role="button" ng-click="showOptions()">Options</a></p>
</div>