nav#currently-playing {
  padding: 15px;
  width: 90%;
  span {
    margin-left: 13%;
  }
}

.list-element.active{
  background-color: #CACEFF;
}

#nav-player-controls {
  padding-left: 5%;

  span a {
    // Make this shit purple
    // color: #000;
    color: #428bca;
    padding:5px 10px;
    font-size: 1.5em;
  }
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

td a i {
    text-align:center;
}

// #page-wrapper {
//   margin-top: 60px;
// }

.inverse-text {
  color: #fff;
}
.progress {
//   -webkit-border-radius: 20px;
//   -moz-border-radius: 20px;
//   border-radius: 20px;
  background-color: #ccc;
  margin: 5px;
}

input#query[type="text"] {
  width: 50%;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition:width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  float:right;
}

input#query[type="text"]:focus {
  width: 80%;
}

input#query[type="text"] {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

// div.nav-col {
//   padding: 10px;
// }

// .lower-nav .progress{
//   margin-top: 20px;
// }

.query-form {
  margin-top: 8px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 15px;
    padding: 10px 12px;
    pointer-events: none;
}

.audiotext span {
  padding: 5px;
}

#hypem-main {
  // .hypem-nav {
  //   div div {
  //     .visible-xs.side-toggle {
  //       font-size: 25px;
  //     }
  //   }
  // }

  #hypem-body {
    .row .main ul .track {
      overflow: hidden;
      border: 1px solid #ccc;

      &:hover {
        background-color: #d9edf7;
      }

      &.playing {
        background-color: #dff0d8;
      }

      div div span a i {
        color: #ccc;
        padding: 10px;
        padding-top: 35px;
        font-size:50px;

        &:hover {
          color: #333;
        }
      }
    }
  }
}

.track {
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &:hover {
    background-color: #d9edf7;
  }

  &.playing {
    background-color: #dff0d8;
  }

  div div span a i {
    color: #ccc;
    padding: 10px;
    padding-top: 35px;
    font-size:50px;

    &:hover {
      color: #333;
    }
  }
}

input.add-playlist-input {
  border: 0px;
  background: #428bca;
  width: 9em;
  color: #fff;
  // margin-left: 25px;
  margin-right: 20px;
  // margin-left: 20px;
  margin: 10px 35px;
  position: relative;
}

// .tooltip {
//   top: 10px !important;
// }