div.page {
  padding: 2%;

  .data-wrapper { width: 100%; }
}

.show-more {
  left: 50%;
  margin-left: -250px;
  position: absolute;
  width: 500px;
}

.loader-img {
  margin-left: -15px;
  width: 17px;
  display: none;
}

tr.track-row:hover {
  background-color: #d9edf7;
}

.listen {
  cursor: pointer;
}

.nav li a.audio-wrapper {
  padding-top: 7px;
  padding-bottom: 0px;
}